html, body {
    height: 100%; /* Ensure the html and body take up full height */
    margin: 0; /* Remove default margin */
}

body { 
    text-align: center;
    background: url('/static/images/loginpage_bg.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

form {
    font-size: 25px; /* Adjust font size for the form */
    margin-top: 30px; /* Adds margin to the top of the form */
}

input[type="text"], input[type="password"], textarea {
    width: 300px; /* Adjust width as needed */
    height: 40px; /* Adjust height for input fields */
    font-size: 20px; /* Match font size */
    padding: 5px; /* Add some padding for better spacing */
    border: 1px solid #000000; /* Add a border */
    border-radius: 4px; /* Add rounded corners */
}

button {
    color: white;
    background-color: darkblue;
    width: 100px;      /* Set width */
    height: 40px;      /* Set height */
    font-size: 20px;   /* Set font size */
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    cursor: pointer;   /* Show pointer cursor on hover */
    margin-top: 20px;   /* Adds margin above the buttons */
}

#passwordLabel, #password {
    display: inline-block; /* Makes label and input inline */
    margin: 5px; /* Optional: adds some space between them */
}

.password-container {
    position: relative;
}

.eye-icon {
    color: gray;
    cursor: pointer;
    position: absolute;  /* Absolute positioning relative to the parent container */
    top: 50%;            /* Vertical position, centered in the input field */
    right: 490px;         /* Horizontal position, 10px from the right */
    transform: translateY(-50%); /* Adjust the vertical position to center the icon */
    font-size: 20px;     /* Adjust the size of the eye icon */
    display: none;       /* Initially hide the eye icon */
}


.show-eye .eye-icon {
    display: inline-block;  /* Show the eye icon when the password field is shown */
}

h6 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 15px;
}